Package: print_ip
Version: 0.0.5
Section: devel
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.2.5), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Installed-Size: 38
Maintainer: tnovits@yandex.ru
Description: print_ip built using CMake

